### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [436]:
# Dependencies and Setup
import pandas as pd
from functools import reduce

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [456]:
playercount = purchase_data["SN"].count()
playercount2 = pd.DataFrame({'Total Players':[playercount]})
playercount_df = pd.DataFrame(playercount2)
playercount_df

   Total Players
0            780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [460]:
items = purchase_data["Item ID"].nunique()
items_df = pd.DataFrame({'Number of Unique Items':[items]})
items_df["Average Price"] = (purchase_data["Price"].mean()).round(decimals=2)
items_df["Number of Purchases"] = purchase_data["Purchase ID"].count()
items_df["Total Revenue"] = purchase_data["Price"].sum()
items_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179           3.05                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [439]:
gender_trend = purchase_data["Gender"].value_counts()
gendersum = purchase_data["Gender"].count()
gender_trend_df = pd.DataFrame(gender_trend)
gender_trend_df["Percentage of Players"] = (gender_trend_df["Gender"] / gendersum * 100).round(decimals=2)
gender_trend_df.rename(columns={"Gender": "Total Count"})

                       Total Count  Percentage of Players
Male                           652                  83.59
Female                         113                  14.49
Other / Non-Disclosed           15                   1.92


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [440]:
s3 = purchase_data.drop_duplicates(['SN','Gender','Price']).groupby(['SN','Gender'])['Price'].sum()
s3_df = pd.DataFrame(s3)
s4 = s3_df.groupby('Gender')['Price'].mean()

In [441]:
gender_trend_df2 = pd.DataFrame(gender_trend)

s = purchase_data.groupby('Gender')['Price'].sum()
s2 = purchase_data.groupby('Gender')['Price'].mean()

gender_trend_df2["Average Purchase Price"] = s2
gender_trend_df2["Total Purchase Value"] = s
gender_trend_df2["Avg Total Purchase per Person"] = s4

gender_trend_df2.rename(columns={"Gender": "Purchase Count"})

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Male,652,3.017853,1967.64,4.060248
Female,113,3.203009,361.94,4.468395
Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [442]:
bins = [0,9,14,19,24,29,34,39,100]
group_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

In [443]:
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins=bins, labels=group_names)

In [383]:
age_trend = purchase_data["Age Group"].value_counts()
agesum = purchase_data["Age"].count()
age_trend_df = pd.DataFrame(age_trend)
age_trend_df["Percentage of Players"] = (age_trend_df["Age Group"] / agesum * 100).round(decimals=2)
age_trend_df.rename(columns={"Age Group": "Purchase Count"})

       Purchase Count  Percentage of Players
20-24             365                  46.79
15-19             136                  17.44
25-29             101                  12.95
30-34              73                   9.36
35-39              41                   5.26
10-14              28                   3.59
<10                23                   2.95
40+                13                   1.67

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [444]:
age_trend_df2 = pd.DataFrame(age_trend)

a = purchase_data.groupby('Age Group')['Price'].sum()
a2 = purchase_data.groupby('Age Group')['Price'].mean()
a3 = purchase_data.drop_duplicates(['SN','Age Group','Price']).groupby(['SN','Age Group'])['Price'].sum()
a3_df = pd.DataFrame(a3)
a4 = a3_df.groupby('Age Group')['Price'].mean()

age_trend_df2["Average Purchase Price"] = (a2).round(decimals=2)
age_trend_df2["Total Purchase Value"] = (a).round(decimals=2)
age_trend_df2["Avg Total Purchase per Person"] = (a4).round(decimals=2)

age_trend_df2.rename(columns={"Age Group": "Purchase Count"})

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
20-24,365,3.05,1114.06,4.32
15-19,136,3.04,412.89,3.84
25-29,101,2.90,293.00,3.81
30-34,73,2.93,214.00,4.12
35-39,41,3.60,147.67,4.76
10-14,28,2.96,82.78,3.76
<10,23,3.35,77.13,4.54
40+,13,2.94,38.24,3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [453]:
top_spenders = purchase_data["SN"].value_counts()
top_spenders_df = pd.DataFrame(spenders)

t = purchase_data.groupby('SN')['Price'].sum()
t2 = purchase_data.groupby('SN')['Price'].mean()

top_spenders_df["Average Purchase Price"] = (t2).round(decimals=2)
top_spenders_df["Total Purchase Value"] = t
top_spenders_df.round(decimals=2)

top_spenders_df.head()

             SN  Average Purchase Price  Total Purchase Value
Lisosia93     5                    3.79                 18.96
Idastidru52   4                    3.86                 15.45
Iral74        4                    3.40                 13.62
Aina42        3                    3.07                  9.22
Asur53        3                    2.48                  7.44

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [450]:
pop_items1 = pd.DataFrame(purchase_data.groupby(['Item ID', 'Item Name']).size().rename('Purchase Count'))
pop_items2 = pd.DataFrame(purchase_data.groupby('Item ID')['Price'].mean())
pop_items3 = pd.DataFrame(purchase_data.groupby('Item ID')['Price'].sum())
pop_itemst = [pop_items1, pop_items2, pop_items3]
popular_final = reduce(lambda left,right: pd.merge(left,right,on='Item ID'), pop_itemst)

In [451]:
popularitems_df = pd.DataFrame(popular_final).round(decimals=2)
popularitems_df[['Purchase Count','Price_x','Price_y']].sort_values('Purchase Count', ascending=False).nlargest(5, 'Purchase Count')

         Purchase Count  Price_x  Price_y
Item ID
92                   13     4.61    59.99
178                  12     4.23    50.76
145                   9     4.58    41.22
132                   9     3.22    28.99
108                   9     3.53    31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [452]:
popularitems_df = pd.DataFrame(popular_final).round(decimals=2)
popularitems_df[['Purchase Count','Price_x','Price_y']].sort_values('Purchase Count', ascending=False).nlargest(5, 'Price_y')

         Purchase Count  Price_x  Price_y
Item ID
92                   13     4.61    59.99
178                  12     4.23    50.76
82                    9     4.90    44.10
145                   9     4.58    41.22
103                   8     4.35    34.80